table {
	width: auto;
	height: auto;
	border-collapse: collapse;
}

td.life {
	border: 1px solid lightgrey;
	width: 15px;
	height: 15px;
}

button.reset {
	margin: 0;
}

td.alive {
	background-color: black;
}

div.game.game-of-life {
	display: flex;
	justify-content: center;
}

i#directions {
	display: flex;
	justify-content: center;
	font-size: 14px;
}

div.presets.score {
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

div.size-toggle {
	position: relative;
	display: flex;
	margin: auto;
	justify-content: center;
	text-align: center;
}

div.game-of-life-score {
	display: flex;
	align-items: center;
}

div.game-nav {
	width: 500px;
	display: flex;
	justify-content: center;
}
div.start-stop.speed {
	position: relative;
	display: flex;
	align-items: flex-end;
	margin-bottom: 5px;
	justify-content: space-between;
}

div.reset.universe {
	margin-left: 20px;
}

div.game-of-life.presets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 250px;
}

div.presets.score {
	display: flex;
	justify-content: space-between;
	width: 500px;
}

div.pre {
	margin-right: 20px;
}

label.speed {
	margin: 0px 8px;
	vertical-align: bottom;
}

input.speed {
	position: relative;
	bottom: -18px;
	cursor: pointer;
}

img#pre {
	height: 40px;
	width: 40px;
	border: 1px solid black;
}
