div.account-background,
div.user-scores-background {
	background-color: grey;
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100%;
	top: 175px;
	display: flex;
	justify-content: center;
}

div.account-container,
div.user-scores-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
	background-color: white;
	width: fit-content;
	height: fit-content;
	padding: 20px 20px;
	border-radius: 3%;
	box-shadow: 3px 3px 5px black;
}

div.user-scores__game {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	justify-content: space-between;
	align-items: center;
}

div.user-scores__game > * {
	padding-right: 20px;
}

p.game-name {
	font-size: 16px;
	font-weight: bold;
}

div.account-info {
	width: 250px;
}

ul.account {
	margin: 0;
	padding: 0;
}

li.account {
	display: flex;
	justify-content: space-between;
}

div.account-buttons {
	margin-top: 20px;
	display: flex;
	justify-content: space-around;
	width: 250px;
}
