/* TODO Add site wide styles */

html,
body {
	margin: 0;
	font-family: "Times New Roman", Times, serif;
	height: 100%;
}

.headshot {
	height: 300px;
	width: 200px;
}

div.about-container {
	display: flex;
	justify-content: center;
	margin: 40px 0;
	align-items: flex-end;
}

div.picture-container {
	margin: 20px 20px;
}

div.about-info {
	width: 300px;
	height: 200px;
	margin-left: 20px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

div.about-links {
	display: flex;
	justify-content: center;
}

div.win-message {
	color: rgb(228, 181, 53);
	-webkit-text-stroke: 1px grey;
	font-size: 18pt;
	text-align: center;
	font-weight: bold;
	width: 220px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10px;
	align-self: center;
	margin-left: -10px;
}

img.win,
img.win-img {
	height: 45px;
	width: 45px;
}
