nav {
  position: "fixed";
  left: 0px;
  top: 0px;
  right: 0px;
}

a,
p,
h1 {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 500px;
}

.navbar-top {
  justify-content: space-between;
  position: relative;
}

.navbar-top__logo {
  position: relative;
  left: 12%;
}

.navbar-top__buttons {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 12%;
  align-items: center;

}

.navbar-top__buttons > * {
  margin-right: 1em;
  font-weight: bold;
}

.navbar-top__auth-login {
  color: rgb(172, 143, 64);
  font-size: 14px;
}

.navbar-top__auth-sign-up {
  border: 1px solid rgb(172, 143, 64);
  padding: 3px 5px;
  border-radius: 12px;
  color: rgb(172, 143, 64);
  font-size: 12px;
}

.navbar-bottom {
  background-color: rgb(199, 165, 72);
  justify-content: flex-start;
  padding-left: 5em;
}

.navbar-bottom > * {
  margin-left: 1em;
  color: black;
}

.profile-button {
  background-color: white;
  border: 1px solid rgb(172, 143, 64);
  padding: 3px 5px;
  position: absolute;
  right: 33px;
  border-radius: 12px;
  outline: none;
  width: fit-content;
}

.profile-button:hover {
  text-decoration: none;
  background-image: none;
}

.profile-button:active {
  box-shadow: none;
}

button.logout:active {
  box-shadow: none;
}

.profile-dropdown {
  position: absolute;
  right: 0px;
  top: 10px;
  border: 1px solid black;
  padding: 5px 5px;
  background-color: white;
}

li.logout {
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  padding-top: 3px;
  margin-top: 6px;
}
