.navbar-top__auth-login {
  color: rgb(172, 143, 64);
  font-size: 14px;
  cursor: pointer;
}

div.button-container {
  display: flex;
  justify-content: center;
}

div.navlink-container {
  display: flex;
  justify-content: center;
  height: 20px;
}

button {
  background-color: rgb(199, 165, 72);
  color: black;
  border: 2px solid white;
  border-radius: 10%;
  font-weight: bold;
  width: 80px;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(to bottom right, rgb(199, 165, 72), #eee);
}

button:active {
  box-shadow: inset 2px 2px 1px black,
              inset 2px 3px 5px rgba(0,0,0,0.3),
              inset -2px -3px 5px rgba(255,255,255,0.5);
}

button.logout {
    background-color: white;
    border: none;
    color: rgb(172, 143, 64);
    text-align: center;
}

button.logout:hover {
  text-decoration: underline;
  background-image: none;
}

button.logout:active {
  box-shadow: none;
}

div.form-container {
  position: relative;
  top: 60px;
  bottom: 60px;
  display: flex;
  justify-content: center;
}

form {
  border: 2px solid black;
  border-radius: 10%;
  width: auto;
}

form > div {
  margin: 10px 10px;
}

input {
  border: none;
  border-bottom: 2px solid rgb(172, 143, 64);
  margin: 20px 0;
  font-size: 15px;
}

div.form-element__email {
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
}

.sign-up__navlink {
  text-decoration: underline;
  font-size: 14px;
  justify-self: center;
  color: black;
  margin-bottom: 100px;
}

.errors {
  color: red;
}
