div.background {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 100%;
	top: 175px;
}
div.tagline-container {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 0;
	flex-direction: column;
	text-decoration: solid;
	-webkit-text-stroke: 1px rgb(199, 165, 72);
	color: white;
	-webkit-transform: translateZ(0) scale(1, 1);
	background-image: url(../../images/backgrounds/chess1.jpeg);
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	height: 100%;
	width: 100%;
	bottom: 0;
	left: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	/* transition: 1s; */
	animation: animate 30s cubic-bezier(0.8, 0.3, 0.15, 0.5) 1s infinite normal
		both;
	/* animation: name duration timing-function delay iteration-count direction
		fill-mode; */
	/* animation-timing-function: cubic-bezier(0.155, 0.03, 0.515, 0.955); */
}

div.tagline-container > h2 {
	margin-top: 10%;
	margin-bottom: 0;
	font-size: 28pt;
}
div.tagline-container > h4 {
	margin-bottom: 10%;
	font-size: 18pt;
	width: 500px;
	text-align: center;
	overflow: wrap;
}

@keyframes animate {
	0% {
		background-image: url(../../images/backgrounds/chess1.jpeg);
	}
	20% {
		background-image: url(../../images/backgrounds/sudoku1.jpg);
	}
	40% {
		background-image: url(../../images/backgrounds/go1.jpg);
	}
	60% {
		background-image: url(../../images/backgrounds/chess2.jpg);
	}
	80% {
		background-image: url(../../images/backgrounds/sudoku2.jpg);
	}
	100% {
		background-image: url(../../images/backgrounds/go2.jpg);
	}
}
