table {
	margin-bottom: 60px;
}

tbody.go {
	background-image: url(../../images/go/go_board_2.jpg);
	background-size: cover;
	padding: 10px 10px;
	width: auto;
	height: auto;
	z-index: -2;
}

td.go {
	border: none;
	width: 20px;
	height: 20px;
}

td.black-hover {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
}
td.white-hover {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
}

.line-horizontal {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: -1;
	bottom: 50%;
	left: 0;
}

.line-vertical {
	width: 0;
	height: 100%;
	border-left: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: -1;
	top: 0;
	left: 50%;
}

td.w {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
	z-index: 2;
}

td.b {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
	z-index: 2;
}

td.w > i,
td.b > i {
	border: none;
}

td.ko-b,
td.bc {
	position: relative;
	background-image: url(../../images/go/white_border.png);
	background-size: contain;
	z-index: 2;
}

td.ko-w,
td.wc {
	position: relative;
	background-image: url(../../images/go/black_border.png);
	background-size: contain;
	z-index: 2;
}

td.wx {
	background-image: url(../../images/go/white_territory.png);
	background-size: contain;
}

td.bx {
	background-image: url(../../images/go/black_territory.png);
	background-size: contain;
}

i {
	z-index: 1;
}

i#vertical-row-0 {
	position: relative;
	top: 52%;
}
i#vertical-row-18 {
	position: relative;
	top: -45%;
}
i#horizontal-col-0 {
	position: relative;
	left: 50%;
}
i#horizontal-col-18 {
	position: relative;
	left: -50%;
}

div.game-nav.go {
	width: 500px;
	margin-top: 30px;
	display: flex;
	position: relative;
	left: 27%;
	text-align: center;
}

div.white-black-score {
	display: flex;
	justify-content: space-between;
}

div.white-scores {
	text-align: right;
}

div.black-scores {
	text-align: left;
}

div#wscore {
	font-weight: bold;
	border: 1px solid black;
	border-radius: 5%;
	padding: 1px 2px;
}

div#bscore {
	font-weight: bold;
	border: 1px solid black;
	border-radius: 5%;
	padding: 1px 2px;
	color: white;
	background-color: black;
}

div#go {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

div.go-score {
	display: flex;
	margin: 10px 0;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	position: relative;
}

div.game-buttons {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 6px 0;
}

div.main-buttons {
	display: flex;
	align-items: flex-end;
}

div.pass {
	display: flex;
	margin-right: 118px;
	justify-self: flex-start;
}

button#hideTerritory {
	position: absolute;
	left: 45%;
	top: 45%;
}

div.win-message.go {
	font-size: 20px;
}
