table {
	margin-bottom: 60px;
}

tbody.go {
	background-image: url(../../images/go/go_board.jpg);
	padding: 10px 10px;
	width: auto;
	height: auto;
}

td.go {
	border: none;
	width: 20px;
	height: 20px;
}

td.black-hover {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
}
td.white-hover {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
}

.line-horizontal {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: 0;
	bottom: 50%;
	left: 0;
}

.line-vertical {
	width: 0;
	height: 100%;
	border-left: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: 0;
	top: 0;
	left: 50%;
}

td.w {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
	z-index: 2;
}

td.b {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
	z-index: 2;
}

td.w > i,
td.b > i {
	border: none;
}

td.ko-b,
td.bc {
	background-image: url(../../images/go/white_border.png);
	background-size: contain;
}

td.ko-w,
td.wc {
	background-image: url(../../images/go/black_border.png);
	background-size: contain;
}

td.wx {
	background-image: url(../../images/go/white_territory.png);
	background-size: contain;
}

td.bx {
	background-image: url(../../images/go/black_territory.png);
	background-size: contain;
}

i#vertical-row-0 {
	top: 50%;
}
i#vertical-row-18 {
	top: -50%;
}
i#horizontal-col-0 {
	left: 50%;
}
i#horizontal-col-18 {
	left: -50%;
}
