table {
	margin: 30px 0;
}

tbody.go {
	background-image: url(../../images/go/go_board_2.jpg);
	background-size: cover;
	padding: 10px 10px;
	width: auto;
	height: auto;
	z-index: 0;
}

td.go {
	border: none;
	width: 20px;
	height: 20px;
}

td.black-hover {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
}
td.white-hover {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
}

.line-horizontal {
	width: 100%;
	height: 0;
	border-bottom: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: -1;
	bottom: 50%;
	left: 0;
}

.line-vertical {
	width: 0;
	height: 100%;
	border-left: 1px solid #111;
	float: left;
	margin: 0;
	position: relative;
	z-index: -1;
	top: 0;
	left: 50%;
}

td.w {
	background-image: url(../../images/go/white_piece.png);
	background-size: cover;
	z-index: 2;
}

td.b {
	background-image: url(../../images/go/black_piece.png);
	background-size: cover;
	z-index: 2;
}

td.w > i,
td.b > i {
	border: none;
}

td.ko-b,
td.bc {
	position: relative;
	background-image: url(../../images/go/white_border.png);
	background-size: contain;
	z-index: 2;
}

td.ko-w,
td.wc {
	position: relative;
	background-image: url(../../images/go/black_border.png);
	background-size: contain;
	z-index: 2;
}

td.wx {
	background-image: url(../../images/go/white_territory.png);
	background-size: contain;
}

td.bx {
	background-image: url(../../images/go/black_territory.png);
	background-size: contain;
}

i {
	z-index: 1;
}

i#vertical-row-0 {
	position: relative;
	top: 52%;
}
i#vertical-row-18 {
	position: relative;
	top: -45%;
}
i#horizontal-col-0 {
	position: relative;
	left: 50%;
}
i#horizontal-col-18 {
	position: relative;
	left: -50%;
}

div.game-nav.go {
	width: 550px;
	margin-top: 30px;
	display: flex;
	position: relative;
	text-align: center;
}

div.white-black-score {
	display: flex;
	justify-content: space-between;
}

div.white-scores {
	text-align: right;
	display: flex;
}

button.pass {
	margin: 5px 10px;
	height: 30px;
	width: 55px;
	align-self: center;
}

div.black-scores,
div.white-scores {
	display: flex;
	width: 250px;
}

div.white-scores {
	justify-content: flex-end;
}

div.scores-background {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 130px;
	padding: 5px 5px;
}

div.go-container {
	display: flex;
	justify-content: center;
	background-color: grey;
}

div.game-nav.go {
	margin-top: 10px;
}

div.game.go {
	background-color: white;
	border-radius: 3%;
	padding: 10px 20px;

	margin: 40px 0;
}

div.scores-background.black {
	border: 1px solid black;
	border-radius: 5%;
	padding: 1px 2px;
	color: white;
	background-color: black;
}

div.scores-background.white {
	border: 1px solid black;
	border-radius: 5%;
	padding: 1px 2px;
	display: flex;
	align-items: flex-end;
}

div#bscore,
div#wscore {
	font-weight: bold;
}

div#go {
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	align-items: center;
}

div.go-score {
	display: flex;
	margin: 5px 0;
	margin-bottom: 0;
	align-items: center;
	justify-content: space-between;
	font-weight: bold;
	position: relative;
}

div.game-buttons {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 60px;
	margin: 6px 0;
}

div.main-buttons {
	display: flex;
	align-items: flex-end;
}

div.pass {
	display: flex;
	margin-right: 118px;
	width: 30px;
	justify-self: flex-start;
}

button#hideTerritory {
}

div.win-message.go {
	font-size: 20px;
}
