tbody.chess {
	border: 2px solid black;
	width: fit-content;
}

td.chess {
	border: none;
	margin: 2px;
}

td.light {
	background-color: #ffefc1;
}

td.dark {
	background-color: #ae4d25;
}

td.chess > img {
	max-width: 90%;
	max-height: 90%;
	text-align: center;
	vertical-align: middle;
}

td.--clicked {
	background-color: green;
}

td.valid-move {
	background-color: blue;
}

div.chess-pieces {
	background-color: lightgrey;
	display: flex;
	justify-content: center;
	width: 300px;
	height: 50px;
}

div.lost-pieces {
	position: relative;
	width: 33%;
	display: flex;
	flex-direction: row;
	justify-self: space-between;
}

img.lost-piece {
	width: 22px;
	height: 22px;
}
